{{> header }}

<div class="card center" id="profilePageCardMain" >
    <div class="container" id="mainContent2" >
        <button class="tablink" style="font-size: 1.5vw;" onclick="openPage('aboutMe', this, 'white')"
            id="defaultOpen">Account Info</button>
        <button class="tablink" style="font-size: 1.5vw;" onclick="openPage('artwork', this, 'white')">Artwork</button>
        <button class="tablink" style="font-size: 1.5vw;" onclick="openPage('Contact', this, 'white')">Contact</button>
        <button class="tablink" style="font-size: 1.5vw;" onclick="openPage('About', this, 'white')">Settings</button>

        <div id="aboutMe" class="tabcontent">

            <div class="hero-image">

                <img src="https://avatars3.githubusercontent.com/u/61264828?s=460&u=85c3af334051baca42c09bd68c228ef867438da7&v=4"
                    alt="Avatar" class="img-floating profilePic">
            </div>


            <div class="card" id="profilePageAboutMeCard" style="width: 100%; margin-top: 0;">
                <div>
                    <h3 style="font-size: 1.7vw;">Account Information</h3>
                    <hr>
                    <form class="signup col s12 m12 l12">
                        <div class="row">
                            <div class="input-field col s2">
                                <input disabled id="account_id" type="text" value="{{userInfo.id}}">
                                <label for="id">Account ID</label>
                            </div>
                            <div class="welcomMessage col s10">
                                <h2>Hello, {{userInfo.first_name}} {{userInfo.last_name}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="First Name" id="firstname-input" type="text"
                                    value="{{userInfo.first_name}}">
                                <label for="first_name">Full Name*</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="lastname-input" type="text" value="{{userInfo.last_name}}">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="address-input" type="text" value="{{userInfo.address}}">
                                <label for="address">Address</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="address2-input" type="text" value="{{userInfo.address2}}">
                                <label for="address2">Address2</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <input id="city-input" type="text" value="{{userInfo.city}}">
                                <label for="city">City</label>
                            </div>

                            <div class="input-field col s6">
                                <input id="state-input" type="text" value="{{userInfo.state}}">
                                <label for="state">State</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="zipcode-input" type="text" value="{{userInfo.zip}}">
                                <label for="zipCode">Zip Code</label>
                            </div>

                            <div class="input-field col s6">
                                <input id="phone-input" type="text" value="{{userInfo.phone}}">
                                <label for="phoneNumber">Tel Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="email-input" type="email" value="{{userInfo.email}}">
                                <label for="email">Email</label>
                            </div>
                        </div>

                        <hr>
                        <h3 style="font-size: 1.7vw;">School Afilliation</h3>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="school-input" type="text" value="{{userInfo.school}}">
                                <label for="school">School</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="role-input" type="text" value="{{userInfo.role_name}}">
                                <label for="role">Role</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default red darken-4" id="updateButton">UPDATE
                            PROFILE</button><button type="submit" class="btn btn-default red darken-4" id="refreshButton">REFRESH</button>
                        {{#if active}}
                        <div class="row emailVal"></div>
                        {{else}}
                        <hr>
                        <div class="row emailVal"></div>
                        <h3 class="emailVal" style="font-size: 1.5vw;">Email Validation</h3> <span id="emailmsg"
                            style="color:red;font-weight:bold"></span>
                       
                            <input class="emailVal" id="emailinput" type="text" class="validate emailVal">
                            <label for="email">Enter Your Email Address</label>
                        </div>
                        <button type="submit" class="btn btn-default red darken-4 enableOnInput emailVal" disabled="disabled" id="validateEmailButton">VALIDATE
                            EMAIL</button>
                        {{/if}}
                    </form>

                </div>
            </div>

        </div>










        <div id="artwork" class="tabcontent">
            <div class="card" id="profilePageAboutMeCard" style="width: 100%;">
                <div class="row">
                    <div class="column">

                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGysCiAn_WCk3ijjIdQGrFLeU6UJoqiQ0r4owkDr0BezaeqLqY&usqp=CAU">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQW85pptV5kK_va3clRW5N8YZ7B4kF2ojUpWK2O8kaVtcL1kWK0&usqp=CAU">
                        <img src="falls2.jpg">
                        <img src="paris.jpg">
                        <img src="nature.jpg">
                        <img src="mist.jpg">
                        <img src="paris.jpg">
                    </div>
                    <div class="column">
                        <img src="underwater.jpg">
                        <img src="ocean.jpg">
                        <img src="wedding.jpg">
                        <img src="mountainskies.jpg">
                        <img src="rocks.jpg">
                        <img src="underwater.jpg">
                    </div>
                    <div class="column">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGysCiAn_WCk3ijjIdQGrFLeU6UJoqiQ0r4owkDr0BezaeqLqY&usqp=CAU">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQW85pptV5kK_va3clRW5N8YZ7B4kF2ojUpWK2O8kaVtcL1kWK0&usqp=CAU">
                        <img src="falls2.jpg">
                        <img src="paris.jpg">
                        <img src="nature.jpg">
                        <img src="mist.jpg">
                        <img src="paris.jpg">
                    </div>
                    <div class="column">
                        <img src="underwater.jpg">
                        <img src="ocean.jpg">
                        <img src="wedding.jpg">
                        <img src="mountainskies.jpg">
                        <img src="rocks.jpg">
                        <img src="underwater.jpg">
                    </div>
                </div>
            </div>
        </div>




        <div id="Contact" class="tabcontent">
            <div class="card" id="profilePageAboutMeCard" style="width: 100%;">
                <h3>Contact</h3>
                <p>Get in touch, or swing by for a cup of coffee.</p>
            </div>
        </div>



        <div id="About" class="tabcontent">
            <div class="card" id="profilePageAboutMeCard" style="width: 100%;">
                <h3>About</h3>
                <p>Who we are and what we do.</p>
            </div>
        </div>
    </div>
</div>

{{> footer }}

<!-- Container for the image gallery -->
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 0
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

    /*the nabar*/




    /*About me page style*/

    .hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.cultureentertainment.us/wp-content/uploads/2018/09/Organizing-Your-Office-With-Wall-Art.jpg");
        height: 25vh;

        position: relative;
        z-index: 1;
        background-size: cover;
        background-repeat: round;

    }

    .profilePic {
        border-radius: 50%;
        height: 50%;
        width: 18%;
        position: absolute;
        z-index: 3;
        bottom: -30px;
        right: 25vw;
        border: 5px solid white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #profilePageAboutMeCard {
        width: 100%;
        height: 100%;
    }

    #abcd {
        width: 100%;
    }
</style>


<script>


    //profile card
    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";

        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>